certifi==2020.6.20
chardet==3.0.4
defusedxml==0.6.0
django>=2.2.13
django-ajax-upload-widget==0.5.5
django-allauth==0.42.0
django-ckeditor==5.9.0
django-cleanup==5.0.0
django-crispy-forms==1.9.2
django-filter==2.3.0
django-js-asset==1.2.2
django-recaptcha==1.2.1
django-tempus-dominus==5.1.2.13
django-widget-tweaks==1.4.8
idna==2.10
oauthlib==3.1.0
Pillow==9.0.0
python3-openid==3.2.0
pytz==2020.1
requests==2.24.0
requests-oauthlib==1.3.0
sqlparse==0.3.1
urllib3==1.25.9
