
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Clean Blog </title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="menu">
    <div class="container">
      <a class="navbar-brand" href="/"><span class="font-weight-bold">Clean Blog</span></a>
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
<div class="collapse navbar-collapse" id="menu-content">
     <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
          <a class="nav-link" href="{% url 'articles' %}">Articles</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
      </ul>
    {% if request.user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown user-account">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="user-image" style="background-image:url({{ request.user.profile_image }})" ></span> Welcome, {{ request.user.first_name }}
                </a>
                <div class="dropdown-menu">
                    <a href="{% url 'retrieve' request.user.username %}" class="dropdown-item">Per. Information</a>
                    <a href="{% url 'updateprofile' request.user.username %}" class="dropdown-item">Update Profile</a>
                    <a href="{% url 'dashboard' %}" class="dropdown-item">Dashboard</a>
                    <a href="{% url 'account_change_password' %}" class="dropdown-item">Change Password</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>

                </div>
            </li>
            <li class="nav-item"><a class="nav-link nav-btn" href="{% url 'addarticle' %}"><span><i class="fa fa-plus" aria-hidden="true"></i>Add Post</span></a></li>
        </ul>
    {% else %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link " href="{% url 'account_login' %}"><span>Login</span></a></li>
            <li class="nav-item"><a class="nav-link " href="{% url 'account_signup' %}"><span>Register</span></a></li>
        </ul>
    {% endif %}
</div>
    </div>
  </nav>

   <div style = "margin-top : 100px; margin-bottom: 100px ;" class="container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
