{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->
  <div class="container" style="margin-top: 150px">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3>Articles</h3>
            <hr>
  </div>
  <!-- Search -->
  <form>
    {% csrf_token %}
    <input type="text" name = "keyword" class="input-md" maxlength="64" placeholder="Search..." value="{{request.GET.keyword}}">
    <button type="submit" class="btn btn-outline-warning btn-sm"><i class="fas fa-search"></i>Search</button>
  </form>
</div>


        {% if articles  %}
        {% for post in articles %}

            <div class="post-preview">
              <a href="{% url 'post' post.pk %}">
                <h2 class="post-title">
                  {{ post.title }}
                </h2>
                <h3 class="post-subtitle">
                  {{ post.subtitle }}
                </h3>
              </a>
              <p class="post-meta">Posted by
                <a href="#">{{ post.author }}</a>
                on {{ post.created_at|date:'F d, Y' }}</p>
                <p class="post-meta">{{post.content|safe|truncatewords:10}}</p>

      <a  href="{% url 'post' post.pk %}"  class="btn btn-outline-info float-right">Read More</a>
            </div>
            <hr>

  {%endfor%}
  {% else %}
<div class="row">
  <div class="col-md-10 offset-md-3">
    <div class="col-lg-8">
      <div  class="alert alert-warning">
        Makale bulunamadı
      </div>
    </div>
  </div>
</div>
{% endif %}


        <!-- Pager  sayfalama  -->
        <div class="clearfix">
              {% if articles.number == 1 %}
                 <a class="btn btn-outline-info float-left" href="?page=2{% if request.GET.keyword %}&keyword={{request.GET.keyword}}{% endif %}">Older Posts &rarr;</a>
              {% endif %}

              {% if articles.has_previous %}
                <a class="btn btn-outline-info " href="/articles/">&laquo;</a>
                <a class="btn btn-outline-info " href="?page={{articles.previous_page_number}}{% if request.GET.keyword %}&keyword={{request.GET.keyword}}{% endif %}"> &lsaquo;</a>
              {% endif %}

              {% for num in articles.paginator.page_range %}

                {% if articles.number == num and articles.number != 1  %}
                 <a class="btn btn-outline-info " href="?page={{num}}{% if request.GET.keyword %}&keyword={{request.GET.keyword}}{% endif %}"> {{num}} </a>
                {% endif %}
              {%endfor%}

              {% if articles.has_next and articles.number != 1 %}
                <a class="btn btn-outline-info " href="?page={{articles.next_page_number}}{% if request.GET.keyword %}&keyword={{request.GET.keyword}}{% endif %}"> &rsaquo;</a>
                <a class="btn btn-outline-info " href="?page={{articles.paginator.num_pages}}{% if request.GET.keyword %}&keyword={{request.GET.keyword}}{% endif %}"> &raquo;</a>
              {% endif %}


        </div>

      </div>
    </div>
  </div>


  <hr>

{% endblock content %}
