{% extends 'base.html' %}
{% load static %}

{% block script_content %}
<script type="text/javascript">
        $(document).ready(function () {
            var $window = $(this);
            var $blog_comment_list = $window.find("#blog-comment-list");
            $window.on('submit', '.comment-form', function (e) {
                e.preventDefault();
                var $this = $(this);
                var $method = $this.attr('method');
                var $data = $this.serialize();
                var $url = $this.attr('action');

                $.ajax({
                    url: $url,
                    type: $method,
                    dataType: 'json',
                    data: $data,
                    success: function (data) {
                        $blog_comment_list.html(data.blog_comment_html);
                        $this.find('#id_icerik').val('');
                    },
                    error: function () {
                        alert("Bir hata oluştu.")
                    }
                })

            });
            $window.on('click', '#blog-comment-list div.row a.yanitla-button', function (e) {
                e.preventDefault();
                var $this = $(this);
                var $parent = $this.closest('div');
                var $href = $this.attr('href');
                var $comment_pk = $this.attr('comment_pk');
                $.ajax({
                    url: $href,
                    type: "GET",
                    dataType: "json",
                    data: {comment_pk: $comment_pk},
                    success: function (data) {
                        var $form_html = data.form_html;
                        $parent.find('.child-form-container').html($form_html);
                    },
                    error: function () {

                    }
                })
            })
        })
        $(window).scroll(function() {
  sessionStorage.scrollTop = $(this).scrollTop();
});

$(document).ready(function() {
  if (sessionStorage.scrollTop != "undefined") {
    $(window).scrollTop(sessionStorage.scrollTop);
  }
});
    </script>
{% endblock script_content %}


{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image:{% if post.image %} url({{ post.image.url}})  {% endif %}">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>

            <h2 class="subheading">{{post.subtitle}}</h2>
            <span class="meta">Posted by
              <a href=""><i class="fas fa-edit"></i> {{post.author.first_name}}</a>
               <i class="fas fa-calendar-alt"></i> {{ post.created_at|date:'F d, Y' }} <i class="fas fa-comments"></i> Comments-({{post.get_blog_comment_count}}) </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{post.content|safe}}
          <a class="btn btn-outline-info float-left" href="{% url 'articles' 'all' %}"> &larr;</a>
          {% if request.user == post.author%}
          <td><a href="{% url 'update' post.id %}" class="btn btn-outline-info float-right">Update</a></td>
          {%else%}
          <a class="btn btn-outline-info float-right {% if post.is_favorite %}active{% endif %}" href="{% url 'add-remove-favorite' post.id %}">{% if post.is_favorite %}<i class="fas fa-thumbs-down"></i>{% else %} <i class="fas fa-thumbs-up"></i>{% endif %}</a>
        {%endif%}
        </div>

      </div>
    </div>
  </article>
  <hr>

    <!-- Comments Form{% if post.is_favorite %}active{% endif %} -->
    <div class="container">


         <!-- <div class="row comment-box-main p-3 rounded-bottom" >
                    <div class="col-md-9 col-sm-9 col-9 pr-0 comment-box" id="blog-comment-list">
                      {% include 'comment/comment-list-partial2.html' with post=post  %}
                    </div>

                </div> -->

      <div class="row mt-5">

        <div class="ccol-md-9 col-sm-9 col-9 pr-0 mx-auto" id="blog-comment-list">
         {% include 'comment/comment-list-partial.html' with post=post  %}
        </div>
      </div>
      <div class="form-container">

        <div class="row mt-5" style="margin-top: 50px;">
          <div class="col-md-9 col-sm-9 col-9 pr-0 mx-auto">

            <form class="comment-form" action="{% url 'new-add-comment' post.pk 'post'  %}" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <span class="text-danger"><b>{{ error }}</b></span>
                                            {% endfor %}
                                        {% else %}
                                            {% if field.help_text %}
                                                <span class="text-success"><b>{{ field.help_text }}</b></span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row text-right" >
                        <div class="col-md-12 col-sm-12 col-11 pr-0 mx-auto float-left">
                        <button type="submit" class="btn btn-info">Send</button>
                    </div>
                    </div>
            </form>
            </div>
        </div>
        </div>
    </div>

  {% endblock content %}

